language: python
python:
  - "3.4"
  # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
  # maintainers to fix their pypy-dev package.
  #- "pypy3"
# command to install dependencies
sudo: required
install:
  - pip3 install --upgrade pip
  #- pip3 install hypothesis
  - pip install -r requirements.txt
  #- pip3 install unittest
  #- npm install
# command to run tests

script: python3 STLParser.py
script: python3 -m unittest UTest.py