language: python
python:
  - "3.4"
  # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
  # maintainers to fix their pypy-dev package.
  #- "pypy3"
# command to install dependencies
sudo: false
install:
  - pip3 install
  #- npm install
# command to run tests

script: python3 STLParser.py
script: python3 -m unittest UTest.py